*{
    margin: 0;
    padding: 0;
    /* 内减模式 防止盒子被撑大*/
    box-sizing: border-box;
    list-style: none;                       
    font-size: 20px;
    color: #f4f1de;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

body{
    /* float: left; */

    background-color: #f3f5f7;
}


/* 版心 */
.wrapper { 
    width: 1600px;
    margin:  0 auto;

}

/* 头部 */
.header {
    /* float: left; */
    height: 76px;
    background-color: pink;
    margin-top: 17px;
    margin-bottom: 17px;
    position: relative;
    z-index: 1;
}

h1 {
    float: left;
}


.search {
    float: left;
    width: 303px;
    height: 59px;
    border: 1px solid #00a4ff;
    margin-left: 30px;
    margin-top: 9px;
    padding: 4px ;
}

.search input {
    float: left;
    /* padding-left: 20px; */
    width: 253px;
    height: 48px;
    border: 0;
}
]
.search input::placeholder {
    font-size: 14px;
    color: black;
}

.search button {
    float: left;
    width: 40px;
    height: 48px;
    background-image: url(../images/bbe436e4_E775769_910a88b4.png);
    background-size:40px 48px; 
    border: 0;
}}


.background-video {
    position: relative;
    overflow: hidden;
  }
  
  .background-video video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  body .log{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .log {
    position: absolute;
    top: 30%;
    left: 85%;
    transform: translate(-50%,-50%);
    width: 193px;
    height: 112px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.2);
  }

 .one {
    position: absolute;
    top: 57%;
    left: 30%;
    width: 550px;
    height: 750px;
    transform: translate(-50%,-50%);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.2);
 }

 


.shell{
    float: left;
    margin-left: 70px;
}

.button{
    float: left;
    background-color: #505050;
    width: 170px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    transition: .3s;
    cursor: pointer;
}


.button:hover{
    background-color: #d15a39;
}

.button li:hover{
    background-color: #ffb29d;
}

.button ul li{
    height: 0;
    transition: .2s;
    opacity: 0;
    transform: translateY(-76px);
    background-color: #e07a5f;
}

.button:hover li{
    height: 76px;
    opacity: 1;
    transform: translateY(0);
}

.three{
    float: right;
     width: 200px;
     height: 76px;
}

.three a img{ 
     position: absolute;
     width: 10%;
     height: 100%;
     object-fit: fill; 
}